@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
html {
  scroll-behavior: smooth;
}

body{
  background:#050816;
}

/* Aurora */

.aurora{
    position:fixed;
    inset:0;
    overflow:hidden;
    z-index:-10;
}

.blob{
    position:absolute;
    border-radius:9999px;
    filter:blur(90px);
    opacity:.35;
    animation:float 12s ease-in-out infinite;
}

.blob1{
    width:450px;
    height:450px;
    background:#7c3aed;
    top:-100px;
    left:-100px;
}

.blob2{
    width:400px;
    height:400px;
    background:#22d3ee;
    right:-100px;
    top:200px;
    animation-delay:3s;
}

.blob3{
    width:350px;
    height:350px;
    background:#ec4899;
    bottom:-120px;
    left:35%;
    animation-delay:6s;
}

@keyframes float{

0%{
transform:translateY(0px) scale(1);
}

50%{
transform:translateY(-60px) scale(1.15);
}

100%{
transform:translateY(0px) scale(1);
}

}
html,
body{
  cursor:none;
}